// --- Colors ---
//     Primary
$cyan: #2ab2af;
$lighterCyan: #2EBFBD; 
$brightYellow: hsl(71, 73%, 54%);

//     Neutral
$white: #fff;
$black: #000;
$lightGray: hsl(204, 43%, 93%);
$grayishBlue: #98a7bd;

// --- fonts ---
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

// device
$mobile: 375px;
$desktop: 1440px;

$radius: 0.5rem;
$block-padding: 3rem;

@mixin reset-list() {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin button() {
    @include rounded-corners($radius);
    @include shadow($black, 0.2);
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: large;
    background-color: $brightYellow;
    color: $white;
    padding: 1rem;
    transition: all 0.5s;

    &:hover {
        transform: scale(1.05);
        transition: all 0.5s;
     }
}

@mixin centered-block() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin rounded-corners($size) {
    border-radius: $size
}

// possible positions: top-left, top-right, bottom-right, bottom-left

@mixin rounded-corner($position, $size) {
    border-#{$position}-radius: $size;
}

@mixin shadow($color, $opacity) {
    box-shadow: 0px 0px 20px 2px rgba($color, $opacity);
}

body{
    background-color: $lightGray;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
}

.pricing-component {
    @include centered-block;
    @include rounded-corners($radius);
    @include shadow($grayishBlue, 0.6);
    width: 50rem;
    background-color: $white;
    color: $grayishBlue;
    display: flex;
    flex-direction: column;
    
    @media screen and (max-width: 840px){
        $block-padding: 1.6rem;
        width: 80vw;
    }

    .title {
        padding: $block-padding;
        @media screen and (max-width: 840px){
            $block-padding: 1.6rem;
            padding: $block-padding;
        }
        h2 {
            color: $brightYellow;
        }
    }
    .info {
        display: flex;
        @media screen and (max-width: 840px){
            flex-direction: column;
        }
        color: $white;
        .pricing {
            @include rounded-corner(bottom-left, $radius);
            padding: $block-padding;
            width: 50%;
            background-color: $cyan;
            @media screen and (max-width: 840px){
                @include rounded-corner(bottom-left, 0rem);
                $block-padding: 1.6rem;
                padding: $block-padding;
                width: unset;
            }
            .pricing-highlight {
                display: flex;
                align-items: center;
                .number{
                    font-size: 2.6rem;
                    padding-right: 1rem;
                }
                .text {
                    opacity: 0.7;
                }
            }
            a {
                @include button;
                width: calc(100% - #{$block-padding})
            }
        }
        .why-us {
            @include rounded-corner(bottom-right, $radius);
            padding: $block-padding;
            width: 50%;
            background-color: $lighterCyan;
            @media screen and (max-width: 840px){
                @include rounded-corner(bottom-left, $radius);
                $block-padding: 1.6rem;
                padding: $block-padding;
                width: unset;
            }
        }
    }    
}

h1 {
    color: $cyan;
    &:first-child {margin-top: 0;}
}
h2 {
    color: $white;
    &:first-child {margin-top: 0;}
}
ul {
    @include reset-list;
}
p, li {
    line-height: 1.6;
    font-size: large;
    &:last-child{
        margin-bottom: 0;
    }
}
.attribution { 
    font-size: 80%; 
    text-align: center; 
    a {
        color: hsl(228, 45%, 44%);
    }
}

